[Desktop Entry]
Type=Application
Version=1.0
Name=Remote Droid Server
GenericName=Remote Droid Server
Comment=RemoteDroid turns your phone into a wireless keyboard and mouse with touchpad.
Icon=remotedroid
TryExec=/usr/bin/remotedroid
Exec=/usr/bin/remotedroid
Terminal=false
